name: build-and-test

on:
  workflow_call:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: Restore
        run: dotnet restore MatchdayPredictions.Api/MatchdayPredictions.Api.csproj

      - name: Build
        run: dotnet build MatchdayPredictions.Api/MatchdayPredictions.Api.csproj --no-restore --configuration Release

      - name: Test
        run: dotnet test MatchdayPredictions.Api.Tests/MatchdayPredictions.Api.Tests.csproj --no-build --configuration Release --collect:"XPlat Code Coverage"

